<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% seo %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/communications">Communications</a></li>
	        		<!--<li><a href="/blog">Blog</a></li>-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:leonard.vonniederhaeusern+l-vn@gmail.com">email</a></li>
	        		<li><a href="https://ch.linkedin.com/in/lvonniederhausern/en">linkedin</a></li>
	        		<li><a href="https://www.facebook.com/elvehen">facebook</a></li>
	        		<li><a href="https://twitter.com/Elvehen">twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>

